html,
body {
	padding: 0;
	margin: 0;
	color: #1D1D1D;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* LANDING SECTION */

.landing {
	min-height: 100vh;
	padding-bottom: 80px;
	flex-direction: column;
	padding: 0 0.5rem;
	height: 100vh;
}

#home {
	background-image: url(/background.svg);

	/* Set a specific height */
	/*min-height: 500px; */

	/* Create the parallax scrolling effect */
	/*background-attachment: fixed;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.block h1 {
	position: relative;
	overflow: hidden;
	font-size: 52px;
	text-align: left;
	float: left;
	clear: both;
	color: #FFF;
}

.block h1:before,
.block h1:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #FFF; 
}

.block h1:before {
	animation: reveal 2s ease forwards;
}

.block h1:after {
	background-color: #1D1D1D;
	animation: base 2s ease forwards;
}

@keyframes reveal {
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(111%);
	}
}

@keyframes base {
	0%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(100%);
	}
}

.block h1:nth-child(1):before,
.block h1:nth-child(1):after,
{
	animation-delay: 1s;
}

.block h1:nth-child(2):before,
.block h1:nth-child(2):after,
{
	animation-delay: 1.5s;
}

.block h1:nth-child(3):before,
.block h1:nth-child(3):after,
{
	animation-delay: 2s;
}


/* NAVBAR */
.navbar {
	background: #1D1D1D;
	padding: 16px 24px 16px 24px;
}

.navbar.active {
	background: #FFFFFF;
}

/* PORTFOLIO SECTION */

.project-img {
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.project-img img{
	height: 300px;
	width: 100%;
	object-fit: cover;
}

.project-img img {
	transition: transform .5s, filter 1.5s ease-in-out;
	filter: grayscale(100%);
}

.project-img:hover img {
	filter: grayscale(0);
	transform: scale(1.1);
}

.gallery-title {
	text-transform: uppercase;
}

.text-link {
	color: #1D1D1D;
	text-decoration: none;
}

.text-link:hover {
	color: #1D1D1D;
	text-decoration: none;
}

/* ABOUT SECTION */

li {
	list-style: none;
	font-size: 18px;
}